@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto&family=Ubuntu&display=swap');
/*
 font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
 */
*{
    box-sizing: border-box;
    margin: 0px;
    /* background-color: black; */
}